  /* Colors and body*/

  :root {
    --theme-color: #ffa500;
    --primary-color: black;
    --secondary-color: grey;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: black;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  section[id] {
    scroll-margin-top: 240px;
  }
  
  body {
    background-color: #ffa500;
    font-family: 'Montserrat', sans-serif;
    padding-top: 170px;
    margin: 0;
  }
  
  a{
    text-decoration: none;
    color: var(--text-color-inverse);
  }

  .footer {
    background-color: black;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
  }

/*-----------------------------------------------------NAVBAR-----------------------------------------------------------*/


.background-img {
  background-image: url(../img/IMG_8327-Mejorado.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: var(--text-color);
}

.background-moments {
  background-color: black;
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.vertical-padding {
  padding-top:25px;
  padding-bottom: 25px;
}

@media (min-width: 950px) {
  .horizontal-padding {
  padding-left: 70px;
  padding-right: 70px;
}

.vertical-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}
}
  /* Headers*/

.topheader {
box-shadow: 0 1px 5px var(--text-color);
position: fixed;
background-color: var(--theme-color);
left: 0;
top: 0;
width: 100%;
z-index: 100;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 1680px;
  margin: 0 auto;
}

/* Menu */

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  color: var(--primary-color);
  font-size: 23px;
  font-weight: 500px;
  line-height: 190px;
  text-transform: uppercase;
  position: relative;
  padding: 0 15px;
}

  /* Text Line */

.menu a::after {
  content: ""; 
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.8;
}

.menu a:hover {
  color: var(--text-color-inverse);
}

  /* ----------------------------------Open-Close Menu Mobil Device-----------------------------*/

.open-menu,
.close-menu {
  display: none;
}

  /*---------------------------------------- Menu Mobil Device------------------------------*/

@media (max-width: 950px) {

.menu {
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: var(--menu-mobile-background-color);
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.menu a {
  color: var(--text-color-inverse);
  line-height: 100px;
  font-size: 25px;
}

.open-menu,
.close-menu {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.close-menu {
  align-self: flex-end;
  padding: 70px 10px;
}

.menu_opened {
  opacity: 1;
  pointer-events: all;
}

.open-menu:focus:not(:focus-visible),
.close-menu:focus:not(:focus-visible) {
  outline: none;
}

.menu a::after {
  content: none; 
}

.menu a:hover,
.menu a.selected {
  color: var(--theme-color)
}

}

  /* Logo*/

.logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-color);
}

.logo img {
  border-radius: 50%;
}

  

/*-----------------------------------------------------PROFILE-----------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

  /* Profile Movil device*/

.profile-info {
  margin-bottom: 25px;
}

.profile-title {
  
  position: relative;
  display: inline-block;
}

.profile-line-title {
  background-color: orange;
  height: 9px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 1;
}

.profile {
  text-align: center;
}

.profile-details {
  color: var(--text-color-inverse);
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 4px 10px black;
  background-color: orange;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  line-height: 1.3;
  max-width: 500px;
  margin: 90px auto;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-title {
  font-size: 32px;
  font-weight: bold;
  margin: 40px;
  padding: 0;
  color: var(--text-color-inverse);
  font-family: 'Noto Sans', sans-serif; 
  text-transform: uppercase;
}

/* Profile for PC*/

@media (min-width: 950px) {
  .profile-info {
    margin-bottom: 0px;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile-details {
    color: var(--text-color-inverse);
    font-size: 25px;
    font-weight: 500;
    box-shadow: 0 4px 10px black;
    background-color: orange;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
    line-height: 1.3;
    max-width: 500px;
    margin: 90px auto;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-title {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
}



/*-----------------------------------------------------SUCURSALES-----------------------------------------------------------*/



.branches-title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  max-width: 500px;
  margin: 100px auto;
}

.branches-branch1 {
  color: black;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.153);
  background-color: orange;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  transition: transform 0.5s;
}

.branches-branch2 {
  color: black;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.153);
  background-color: orange;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  transition: transform 0.5s;
}

.branches-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.branches-branch1:hover {
  transform: scale(1.1);
}

.branches-branch2:hover {
  transform: scale(1.1);
}


@media(min-width: 950px) {
  .branches{
    margin: 0 -70px;
  }
  .branches-title {
    font-size: 50px;
  }
  
  .branches-branch1 {
    font-size: 40px;
    margin: 20px;
  }

  .branches-branch2 {
    font-size: 40px;
    margin: 20px;
  }

  .branches-branch1:hover {
    transform: scale(1.1);
  }

  .branches-branch2:hover {
    transform: scale(1.1);
  }
}


/* WAVES */

.branches-body {
  display: flex;
  flex-direction: column;
  margin: 0 -25px;
}


.wave {
  margin: -30px auto;
  transform: scaleY(-1);
  top: 40px;
}

.wave-bottom {
  margin-bottom: -40px;
}


@media (min-width: 950px) {
  .branches-body {
    margin: auto -70px;
  }
  
  .wave {
    margin: -70px auto;
    width: 100%;
    transform: scaleY(-1);
    top: -100px;
  }

  .wave-bottom {
    margin-bottom: -70px;
  }
}



/*-----------------------------------------------------MOMENTOS-----------------------------------------------------------*/


.moments-title {
  color: var(--text-color-inverse);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  margin: 20px auto;
}

.moments-date {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color-inverse);
}

.moments-opening {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
}

.moments-opening {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color-inverse);
}

@media(min-width: 950px) {
  
  .moments-title {
    font-size: 50px;
    margin: 180px auto -30px;
  }
}

/*-----------------------------------------------------GALLERY-----------------------------------------------------------*/


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
}

.gallery > a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.gallery a:hover img{
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: transform .3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box img {
  width: 75vw;
  max-height: 70vh;
}

.light-box:target {
  transform: scale(1);
}

.close {
  display: block;
  position: absolute;
  font-size: 30px;
  top: 40px;
  right: 40px;
  background: rgba(0, 0, 0, .5);
  color: #fff;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.next {
  color: #fff;
  display: block;
  background: rgba(0, 0, 0, .5);
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .gallery{
    grid-template-columns: repeat(auto-fit, minimax(200px, 1fr));
  }

  .close {
    top: 20px;
    right: 20px;
  }
}


/*-----------------------------------------------------UBICACION-----------------------------------------------------------*/



.localization {
  align-items: center;
  margin-left: -70px;
  margin-right: -70px;
  margin-top: -90px;
  margin-bottom: -30px;
}

.localization-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
}

.localization1 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.153);
  background-color: black;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  transition: transform 0.5s;
}

.localization2 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.153);
  background-color: black;
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
  transition: transform 0.5s;
}

.localization-list {
  text-align: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.localization1:hover {
  transform: scale(1.1);
}

.localization2:hover {
  transform: scale(1.1);
}

.maps {
  width: 300px;
  height: 150px;
  border-radius: 30px;
}

.maps2 {
  border-radius: 30px;
}

.maps-body {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media (min-width: 950px) {
  
  .branches-title {
    font-size: 50px;
  }
  
  .localization1 {
    font-size: 40px;
    margin: 20px;
  }

  .localization2 {
    font-size: 40px;
    margin: 20px;
  }

  .localization1:hover {
    transform: scale(1.1);
  }

  .localization2:hover {
    transform: scale(1.1);
  }
  
  .localization-title {
    color: white;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    margin: 30px 600px;
  }

  .maps {
    width: 600px;
    height: 380px;
    border-radius: 50px;
  }

  .maps2 {
    width: 600px;
    height: 380px;
    border-radius: 50px;
  }
  
  .maps-body {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
}


/*-----------------------------------------------------CONTACTO-----------------------------------------------------------*/


.contact {
  background-color: rgb(54, 52, 52);
  color: var(--text-color-inverse);
  font-size: 18px;
  border-radius: 14px;
  padding: 25px;
  display: grid;
  gap: 25px;
}

.contact p,
.contact h2,
.contact ul {
  margin: 0;
  padding: 0;
}

.contact-title {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contact-details,
.contact-form {
display: grid;
gap: 20px;
}

.contact-details-group,
.contact-form-group {
display: grid;
gap: 3px;
}

.contact-label {
text-transform: uppercase;
font-weight: 500;
}

.contact-form input,
.contact-form textarea {
border-radius: 7px;
border: none;
height: 30px;
padding: 5px 10px;
}

.contact-form textarea {
height: auto;
resize: vertical;
}

.contact-form-submit {
width: 100%;
height: 50px;

background-color: orange;
border-radius: 7px;
color: white;
border: 0px solid var(--text-color-inverse);

cursor: pointer;
}

.contact-form-submit:hover {
box-shadow: 0 0 14px;
}

.social-list {
list-style: none;

display: flex;
gap: 35px;
justify-content: center;
}

.social-list img {
height: 45px;
transition: transform 0.5s
}

.social-list img:hover {
transform: scale(1.9)
}

@media (min-width: 950px) {
.contact {
  font-size: 20px;
  border-radius: 50px;
  padding: 70px;
  

  max-width: 980px;
  margin: 0 auto;
}

.contact-title {
  font-size: 40px;
  text-align: left;
}

.social-list img {
  height: 75px;
  transition: transform 0.5s
}

.social-list img:hover {
  transform: scale(1.9)
}

.contact-title {
  grid-area: title; 
}

.contact-details {
  grid-area: details;
}

.contact-form {
  grid-area: form;
}

.social {
  grid-area: social;
}

.contact {
  display: grid;
  grid:
  "title form" auto
  "details form" auto
  "social form" auto /
  1fr     1fr;
  align-items: start;
}
}


